*{margin: 0; padding: 0;}
a{text-decoration: none; color: #000;}
ul{list-style: none;}

body{font-family: 'Noto Sans KR';
    font-size:16px;
    line-height:20px;
    color:#000;
    position: relative;
    }


/**header**/
#header{width: 100%; height: 800px; display: block;}
#header video{width:100%; display:block;}
.header_inner{width: 100%; height: 144px; background-color:  rgba(0, 0, 0, 0.45); position: fixed; z-index: 99;}

.menu{width: 1320px; height: 144px; margin: 0 auto;}

.logo{display: block; 
    width: 10%; 
    /* height: 70px;  */
    float: left; padding-top: 70px;}


.nav{
    width:80%;
    /* float: left;  */
    /* margin-left: 131px; } */
}
.nav>li{float: left; width:20%;
    margin-top:90px;  text-align: center;
}
.nav>li>a{display: block; color: #fff;
     font-size: 19px;
     padding:17px 0px;}
.nav>li>a:hover{color: #ccc;}

.rnb{display: block; float: right; 
    width: 10%; 
    height: 35px; padding-top: 70px;}


/**sub**/
.sub_bg{width:100%; 
    position: absolute; top:144px; left:0; 
    background-color: rgba(0, 0, 0, 0.45); height: 180px; 
    padding: 10px 0; display: none;}



.sub{
    width:1320px; 
    margin: 0 auto; 
    padding-left:13%;
}
.sub>li{float:left; width:16.3%; text-align: center;}

.subsub{
    width:100%;
    text-align: center;}
.subsub li a{display:block; 
     padding: 10px 0; text-align: center; color:#fff;}
.sub li a:hover{color:#ccc;}


/* .sub li a{display: block; padding: 10px 0; text-align: center; color: #fff;} */

.nav li:hover .sub_bg{display: block;}
/* .nav li:hover .sub{display: block;}
.sub li a:hover{color: #ccc;} */ 


/**banner**/
#banner{width: 100%; height: 900px;}
#banner h1{color: #c49195; padding: 60px 0 40px 0; text-align: center; font-size: 58px; font-weight: bold;}
.banner_box{width: 100%; height: 750px; background: url(../images/banner.jpg) no-repeat center top;}
#banner img{width: 100%; display: block;}

.banner_text{float: left; width: 660px; padding-top: 140px; text-align: center; color: #666666; font-size: 22px; line-height: 45px;}
.big{font-size: 30px; font-weight: bold;}


/**con1**/
#con1{width: 1320px; height: 1100px; margin: 0 auto;}
.con1_t{width: 1320px; height: 500px;}

.con1_t ul li{float: left; width:660px;/**margin: 10px;**/ position: relative; overflow: hidden;}
ul li img{display: block;}

.caption{position: absolute; top:0; left: 0; width: 660px; height: 500px;
        text-align: center; opacity: 0; font-size: 15px;
        padding: 150px; box-sizing: border-box; transition: all 1s;}

.con1_t ul li:hover .caption{ background: rgba(0,0,0,0.5); color: rgba(255,255,255,1); color: rgba(255,255,255,1); transform: scale(1.2,1.2); opacity: 1;}

.caption h1{padding: 30px 0; font-size: 44px;}

.con1_b{width: 1319px; height: 500px;}
.con1_b ul li{width: 1319px; height: 500px; position: relative; overflow: hidden;}
ul li img{display: block;}

.caption2{position: absolute; top:0; left: 0; width: 1319px; height: 500px;
    text-align: center; opacity: 0; font-size: 15px;
    padding: 150px; box-sizing: border-box; transition: all 1s;}

ul li a:hover .caption2{ background: rgba(0,0,0,0.5); color: rgba(255,255,255,0); color: rgba(255,255,255,1); transform: scale(1.2,1.2); opacity: 1;}

.caption2 h1{padding: 30px 0; font-size: 44px;}

.btn{display: inline-block; padding: 7px 15px; border: 1px solid #ccc; color: #ccc; margin-top: 30px;}
.btn:hover{background-color: #eee; color:#666666;}


/**con2**/
#con2{width: 1320px; height: 570px; margin: 0 auto;}
#con2 h1{padding-top: 130px; font-size: 30px; text-align: center;color: #666;}
#con2 h2{font-size: 30px; padding: 30px; text-align: center;}
#con2 h3{font-size: 28px; padding: 30px; text-align: center;}
#con2 ul li{float: left; width: 308px; height: 462px; position: relative; overflow: hidden; margin-top: 80px; border-radius: 28px; margin-right: 22px;}
.caption3{position: absolute; top:0; left: 0; width: 308px; height: 462px; opacity: 0; 
    text-align: center; font-size: 15px; padding: 80px 0; box-sizing: border-box; transition: all 1s;}

ul li a:hover .caption3{background-color: rgba(151, 90, 90, 0.5);  color: rgba(255,255,255,1); 
        transform: scale(1.2,1.2); opacity: 1;}


.caption4{position: absolute; top:0; left: 0; width: 308px; height: 462px; opacity: 0; 
    text-align: center; font-size: 15px; padding: 80px 0; box-sizing: border-box; transition: all 1s;}

ul li a:hover .caption4{background-color: rgba(156, 160, 205, 0.5);  color: rgba(255,255,255,1); 
        transform: scale(1.2,1.2); opacity: 1;}


.caption5{position: absolute; top:0; left: 0; width: 308px; height: 462px; opacity: 0; 
    text-align: center; font-size: 15px; padding: 80px 0; box-sizing: border-box; transition: all 1s;}
       
ul li a:hover .caption5{background-color: rgba(179, 120, 120, 0.5);  color: rgba(255,255,255,1); 
        transform: scale(1.2,1.2); opacity: 1;}


.caption6{position: absolute; top:0; left: 0; width: 308px; height: 462px; opacity: 0; 
    text-align: center; font-size: 15px; padding: 80px 0; box-sizing: border-box; transition: all 1s;}
         
ul li a:hover .caption6{background-color: rgba(141, 147, 89, 0.5);  color: rgba(255,255,255,1); 
        transform: scale(1.2,1.2); opacity: 1;}


/**con3**/
#con3{width: 100%; height: 404px; margin-top: 100px;}

/**가져온소스**/
.swiper-container{ width:100%; height:100%; margin-top: 250px;}
.swiper-slide {text-align: center; font-size: 18px; background: #fff;
			  /* Center slide text vertically */
			  display: -webkit-box;
			  display: -ms-flexbox;
			  display: -webkit-flex;
			  display: flex;
			  -webkit-box-pack: center;
			  -ms-flex-pack: center;
			  -webkit-justify-content: center;
			  justify-content: center;
			  -webkit-box-align: center;
			  -ms-flex-align: center;
			  -webkit-align-items: center;
			  align-items: center; }
.swiper-slide img{width:100%;}

/*이동버튼 영역*/
.swiper-button-next:after,
.swiper-button-prev:after{display:none;}/*소스에 들어있는 버튼 삭제*/

/*블릿버튼 영역*/
.swiper-pagination-bullet{background:gray; width:30px; height:30px; opacity:0.5;}
.swiper-pagination-bullet-active{opacity:1;}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{top:10px;}

/*이벤트배너*/
.swiper-container two{width: 1320px; height: 450px; margin: 0 auto; margin-top: 50px;}
.swiper-slide2 {text-align: center; font-size: 18px; background: #fff;
			  /* Center slide text vertically */
			  display: -webkit-box;
			  display: -ms-flexbox;
			  display: -webkit-flex;
			  display: flex;
			  -webkit-box-pack: center;
			  -ms-flex-pack: center;
			  -webkit-justify-content: center;
			  justify-content: center;
			  -webkit-box-align: center;
			  -ms-flex-align: center;
			  -webkit-align-items: center;
			  align-items: center; }
.swiper-slide2 img{width:100%;}

/*푸터*/
#footer{width: 100%; height: 195px; background-color: #f7e8df; margin-top: 30px;}
.footer_inner{width: 1320px; margin: 0 auto; padding: 15px 15px 0 15px;}
.footer_t{float: left; width: 1320px; height: 72px;}
.footer_t ul li{float: left;}
.footer_t ul li a{display: block; padding: 20px 30px; font-size: 13px; color: #686868; font-weight: bold;}
.footer_t ul li a:hover{color: gray;}

.footer_logo{float: right;}

.footer_b{width: 1320px; height: 123px;}
.f_l{float: left; font-size: 12px; color: #686868; line-height: 24px; padding-left: 30px;}
.f_r{float: right; font-size: 15px; color: #686868; padding-top: 10px;}
.f_r2{float:right; font-size: 30px; color: #686868; padding-top: 10px; padding-left: 600px;}